/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    min-height: 100%;
    width: 100%;
    position: absolute;
}

body {
    background: #111 url("../img/noisy_net.png") repeat;
    color: #eee;
    padding-bottom: 12em;
}

header {
    margin: 2em auto;
    padding: 0 1em;
    width: 76em;
}

footer {
    bottom: 0;
    position: absolute;

         box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    font-style: italic;
    padding: 0.5em;

    background: rgba(0,0,0,0.85);
}

h1 a {
    color: inherit;
    text-decoration: none;
}

h1 a:hover {
    opacity: 0.6;
}

.center {
    text-align: center;
}

.big {
    font-size: 5em;
    margin: 0;
}

.main {
    margin: 1em auto;
    width: 76em;
    padding: 0 0.5em;
}

.trio {
    float: left;
    width: 25em;
         box-sizing: border-box;
    -moz-box-sizing: border-box;

    padding-right: 1em;
}

.trio .big {
    float: left;
    margin-right: 0.25em;
}

.media {
    width: 76em;
    /*height: 220em;*/
    margin: 0 auto
}

img.uno {
    width: 100%;
}

img.duo {
         box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    /*height: 50%;*/
    float: left;
    padding: 1em 0;
}

.step-two,
.step-three {
    width: 76em;
    margin: 0 auto;
}

.step-two img,
.step-three img {
         box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 1em 0;
}

.box {
    display: block;
         box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
    border-right: 1px solid black;
    /*background-color: rgba(255,255,255,0.3);*/
    background-color: transparent;

    height: 2em;
    /*line-height: 0;*/

    -webkit-transition-property: border, opacity, height, width, margin;
       -moz-transition-property: border, opacity, height, width, margin;
            transition-property: border, opacity, height, width, margin;

    -webkit-transition-duration: 240ms;
       -moz-transition-duration: 240ms;
            transition-duration: 240ms;

    text-align: center;
    text-decoration: none;
    color: #111;
}

.box * {
    -webkit-transition-property: inherit;
       -moz-transition-property: inherit;
            transition-property: inherit;

    -webkit-transition-duration: inherit;
       -moz-transition-duration: inherit;
            transition-duration: inherit;
}

.box.one {
    width: 2em;
}

.box.two {
    width: 4em;
}

.box.six {
    width: 12em;
}

.box.seven {
    width: 14em;
}

.box.full {
    width: 76em;
    height: 4em;
    /*border: none !important;*/

    z-index: -128;
}

.box.full svg path {
    opacity: 0.15;

    /*-webkit-transition: all 240ms ease;
       -moz-transition: all 240ms ease;
        -ms-transition: all 240ms ease;
         -o-transition: all 240ms ease;
            transition: all 240ms ease;*/
}

a.box:hover {
    opacity: 0.4;

    /*border-width: 0.33em;*/

    /*box-shadow: rgba(255,255,255,1) 0px 0px 10px;*/

    -webkit-transition-duration: 120ms;
       -moz-transition-duration: 120ms;
            transition-duration: 120ms;
}

a.box:hover img {

    /*height: 70%;*/
    /*width: 70%;*/

    /*margin: .25em auto 0;*/

    /*-webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
            transform: scale(0.8);*/
}

.box.current {
    position: relative;
    border: 2px solid white;

    -webkit-transform: scale(1.15);
       -moz-transform: scale(1.15);
            transform: scale(1.15);

    z-index: 1024;
    opacity: 1;

    /*line-height: 1.67em;*/
}

a.box:hover {
    cursor: pointer;
}

.box img {
    width: 100%;
    height: 100%;
    margin: 0 auto 0;
}

video.video,
iframe.video {
    width: 76em;
    height: 43em;
    margin: 1em 0;
}














/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

.clear {
    clear: both;
    height: 0;
    line-height: 0;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 320px) {
    /* Style adjustments for viewports that meet the condition */
    body {
        font-size: 4px;
        padding-bottom: 30em;
    }

    p {
        font-size: 300%;
    }
}

@media only screen and (min-width: 620px) {
    /* Style adjustments for viewports that meet the condition */
    body {
        font-size: 8px;
        padding-bottom: 24em;
    }

    p {
        font-size: 180%;
    }
}

@media only screen and (min-width: 760px) {
    /* Style adjustments for viewports that meet the condition */
    body {
        font-size: 10px;
        padding-bottom: 20em;
    }

    p {
        font-size: 120%;
    }
}

@media only screen and (min-width: 940px) {
    /* Style adjustments for viewports that meet the condition */
    body {
        font-size: 12px;
    }

    p {
        font-size: 100%;
    }

    .media {
        width: 76em;
        /*height: 51em;*/
        margin: 0 auto
    }

    img.duo {
             box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 50%;
        height: 100%;
        float: left;
        padding: 1em;
    }
}

@media only screen and (min-width: 1400px) {
    /* Style adjustments for viewports that meet the condition */
    body {
        font-size: 18px;
    }

    p {
        font-size: 67%;
    }
}

@media only screen and (min-width: 1900px) {
    /* Style adjustments for viewports that meet the condition */
    body {
        font-size: 20px;
    }

    p {
        font-size: 60%;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
    background-image: url("../img/noisy_net@2x.png");
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
